
@import '../../components/variables.css';

body{
  background-color: black;
}

#mainContainer{
  text-align: center;
  margin:  30px auto;
  position: relative;
}

#gameboard{
  position: absolute;
  background-color: #808080;
  width:  1200px;
  height: 600px;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
}

canvas{
/*   position: absolute; */
  background-color: #808080;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 4;
}


#mubu{
  position: absolute;
  background-color: black;
  width:  1200px;
  height: 600px;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
}

#me{
  position: absolute;
  background-color: white;
  width:  150px;
  height: 150px;
  border-radius: 50%;
  z-index: 3;
  margin-left: 100px;
  margin-top: 100px;
  opacity: 0.8;
}

.playerstate{
  margin-right: 20px;
  font-weight: 550;
  color: white;
  text-align: left;
}

.toggleBtn{
  margin-left: 60px;
}

span{
  
}
li{
  list-style-type:none;
  width: 100%;
}
.empty{
  background-color: #808080;
  height: 10px;
  width: 10px;
  display:  block;
  float: left;
  overflow: hidden;
}
.newborn{
  background-color:#FFBBBB;
  height: 10px;
  width: 10px;
  display:  block;
  float: left;
  border-right:  1px solid #222;
  border-top:  1px solid #222;
  overflow: hidden;
}
.adult{
  background-color:#EE4444;
  height: 10px;
  width: 10px;
  display:  block;
  float: left;
  border-right:  1px solid #222;
  border-top:  1px solid #222;
  overflow: hidden;
}

.topBar{
  display: block;
  width:  800px;
  margin-left:  20px;
  margin-bottom: 5px;
}
.gen{
  display: block;
  position: absolute;
  margin-top:  -20px;
  margin-left:  500px;
}
button{
  
}