@import '../variables.css';

.root {
  width: 160px;
  border-radius: 5px;
  background-color: pink;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  margin: 2px;
  text-align: center;
  padding: 10px;
}

.myGallery i{
  cursor: pointer;
}