
@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

#mainContainer{
  margin-top:  500px;
}

#board{
  width:  1200px;
  margin:  50px auto;
}

span{
  
}
li{
  list-style-type:none;
  width: 100%;
}
.empty{
  background-color:black;
  height: 10px;
  width: 10px;
  display:  block;
  float: left;
  border-right:  1px solid #222;
  border-top:  1px solid #222;
  overflow: hidden;
}
.newborn{
  background-color:#FFBBBB;
  height: 10px;
  width: 10px;
  display:  block;
  float: left;
  border-right:  1px solid #222;
  border-top:  1px solid #222;
  overflow: hidden;
}
.adult{
  background-color:#EE4444;
  height: 10px;
  width: 10px;
  display:  block;
  float: left;
  border-right:  1px solid #222;
  border-top:  1px solid #222;
  overflow: hidden;
}

.topBar{
  display: block;
  width:  800px;
  margin-left:  20px;
  margin-bottom: 5px;
}
.gen{
  display: block;
  position: absolute;
  margin-top:  -20px;
  margin-left:  500px;
}
button{
  
}